<div class="owl-item product_slider_item">
    <div class="product-item {{category}}">
        <div class="product">
            <div class="product_image">
                <img src="{{asset("assets/images/product_"~i~".png")}}" alt="">
            </div>
            <div class="favorite"></div>
            <div class="product_info">
                <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                <div class="product_price">$610.00</div>
            </div>
        </div>
    </div>
</div>